<h2>My Heroes</h2>

<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <label>Immortal
    <input type="checkbox" #immortal />
  </label>
  <button (click)="add(heroName.value, immortal.checked); heroName.value=''; immortal.checked=false">
    add
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge" [class.immortal]="hero.immortal">{{hero.id}}</span> {{hero.name}}
    </a>
    <button *ngIf="!hero.immortal" class="delete" title="delete hero"
      (click)="delete(hero)">
      x
    </button>
  </li>
</ul>
